*, *::after, *::before {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}

:root {
  --sun-color:#FFCD1E;
  --sky-mid-color:#06B6D4;
  --sky-light-color:#67E8F9;
  --joy-mid-color:#DB2777;
  --joy-light-color:#F472B6;
  --leaf-mid-color:#16A34A;

--bg-color:#FAFAFA;
--text-color:#000000;
--highlights-color:#000000;

--ff-base: "Montserrat" , sans-serif;

--text-sm: 0.875rem;
--text-base: 1rem;
--text-lg: 2.5rem;
--text-xl: 4rem;

}



html, button {
font: 500 1rem/1.5 var(--ff-base);
  
}
h1, h2 {
font-family: "Syne", sans-serif;
}

h1 {
  font-size: var(--text-xl);
  line-height: 1.25;

}

h2 {
  font-size: var(--text-lg);
  line-height: 1.2;
}


a {
  color: inherit;
  text-decoration: none;
}


